body {
    background-color: #1e1e1d;
    color: white;
    font-family: 'Azeret Mono', monospace;
}
.navbar {
    background-color: #383838;
}


.navbar-toggler-icon {
    color: white !important;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: white;
}
.nav-item:hover {
    font-weight: bolder;
    font-style: italic;
}
.dropdown {
    color: white;
}
.editable-text {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: text;
    padding: 0;
}
#intro {
    margin: 0;
    height: auto;
}

.image {
    flex: 1; /* Take up available space */
}
.column {
    padding: 0;
}
.column_left {
    padding-right: 20px;
}
.column_right{
    padding-left: 20px;
}
#kite_div{
    padding-top: 20px;
}
#name {
    padding-top: 30px;
    padding-bottom: 15px;
}
#position {
    margin-top: -5px;
}
.important_text {
    font-weight: bolder;
    font-style: italic;
}
/*TODO(fix padding for pictures)*/
#intro_container {
    padding:0;
    margin:0;
    max-width: 100%;
}
#intro_row {
    margin: 0;
}
.my_container {
    padding:0;
    margin:0;
    max-width: 100%;
}
.my_row {
    margin: 0;
}
.fit-image {
    max-width: 100%;
    height: auto;
}
#succulent_pic {
    padding-right: 70px;
}
.project_link {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.project_link:hover{
    font-weight: bolder;
    font-style: italic;
}
.frame {
    /*border: 50px solid white; !* Adjust the thickness of the border *!*/
}
.section {
    height: auto;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
    padding: 56px; /* Add padding for better readability */
}

#experiences_col {
    padding: 20px;
}

/* Optional: Add styling for sections */
#section2 {
    background-color: #e0e0e0;
}