body {
    background-color: #1e1e1d;
    color: white;
    font-family: 'Azeret Mono', monospace;
}
.navbar {
    background-color: #383838;
}


.navbar-toggler-icon {
    color: white !important;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: white;
}
.nav-item:hover {
    font-weight: bolder;
    font-style: italic;
}
.dropdown {
    color: white;
}
.editable-text {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: text;
    padding: 0;
}
#intro {
    margin: 0;
    height: auto;
}

.image {
    flex: 1; /* Take up available space */
}
.column {
    padding: 0;
}
#intro_container {
    padding:0;
    margin:0;
    max-width: 100%;
}
#intro_row {
    margin: 0;
}
.my_container {
    padding:0;
    margin:0;
    max-width: 100%;
}
.my_row {
    margin: 0;
}
.fit-image {
    max-width: 100%;
    height: auto;
}
.frame {
    /*border: 50px solid white; !* Adjust the thickness of the border *!*/
}
.section {
    height: auto;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
    padding: 76px; /* Add padding for better readability */
}

#experiences_col {
    padding: 20px;
}

/* Optional: Add styling for sections */
#section2 {
    background-color: #e0e0e0;
}